<!-- AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.todolist">

    <application>

    <activity
        android:name="com.example.todolist.SplashScreenActivity"
        android:exported="true"
        android:theme="@style/Theme.ToDoApp.SplashScreen"
        tools:ignore="WrongManifestParent">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity android:name="com.example.todolist.MainActivity"
        tools:ignore="WrongManifestParent" />
    </application>
</manifest>



